.col-xs-4 {
  margin-left: 1rem;
}
.heading {
  font-size: 14px;
}
.search {
  width: 100%;
  margin-top: 2.25rem;
}
.dropdown {
  width: 100%;
  margin-top: -1rem;
}
.dropdown-menu {
  width: 100%;
}
table {
  table-layout: fixed;
}

a.disabled {
  color: gray;
  cursor: not-allowed;
}
a {
  cursor: pointer;
}
.pagination {
  margin-top: -1rem;
  float: right;
}
/* 
.edit {
  margin-right: 12px;
} */
.plus {
  width: 14px;
}

.action {
  margin-right: 1rem;
}
td {
  padding: 6px !important;
  line-height: 1 !important;
}

.center {
  margin-left: -57px;
  min-width: 96px;
  margin-right: 61px;
  text-align: center;
}
tbody,
th {
  text-align: left;
}
